.venv
*.npy
google_images/toxic_images/urls/*.csv
google_images/nontoxic_images/urls/*.csv
google_images/toxic_images/all_urls.csv

000/
001/
002/
003/
004/
*.code-workspace

tpc_meta.csv
full_metadata.csv

streamlit/models/*